@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");

body {
  background-color: black;
}

.container {
  margin: 35px 0 0 300px;
  /* border: 2px solid red; */
}

.row {
  width: 100%;
  height: 60px;
}

.one,
.two,
.three,
.four,
.five {
  margin: 5px 0 0 0;
}

button {
  color: black;
  width: 50px;
  height: 50px;
  background-color: white;
  font-weight: 500;
  border: none;
  font-size: 15px;
  margin-left: 3px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20%;
}

.print {
  width: 85px;
  border-radius: 10px;
}

.back {
  width: 148px;
  border-radius: 10px;
}

.tab {
  width: 106px;
  border-radius: 10px;
}

.slace {
  width: 90px;
  border: 10px;
}

.cap {
  width: 125px;
  border-radius: 10px;
}

.enter-btn {
  width: 130px;
  border-radius: 10px;
}

.shift {
  width: 128px;
  border-radius: 10px;
}

.last {
  width: 56px;
  border-radius: 10px;
}

.space {
  width: 326px;
  border-radius: 10px;
}

/* .on{
  background-color: green;
} */

.heading {
  margin: 45px 0 0 0;
  text-align: center;
  font-size: 3.2rem;
  font-family: "Roboto Slab", serif;
  color: yellow;
}

.inputBox {
  font-size: 2rem;
  width: 821px;
  height: 56px;
  margin: 29px 0 0 320px;
  padding: 0 40px 0 40px;
  background-color: yellow;
  border-radius: 5px;
  color: black;
}
